<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.queavos.teleguia"
        version   = "1.0.0">
    <name>Teleguia</name>

    <description>
        Guia telefonica del departamento de Itapua, Paraguay.
		Los datos no estan actualizados. Solo para uso de prueba
    </description>

    <author href="http://sursoluciones.net" email="social@sursoluciones.net">
        Queavos - SurSoluciones.net 
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
	
	<preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icono.png" />
	<gap:splash src="splash.png" />
</widget>
